<div class="nested-fields">
    <%= f.input :oenologist_id, as: :select, collection: Oenologist.all %>
    <%= f.input :note_oenologist %>
    <%= link_to_remove_association "remove cepa", f %>
</div>